* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* Cores */
  --tt-heading: #0c3440;

  --tt-label: #00453a;
  --tt-input: #212529;
  --ot-input: #02799d;
  --bd-input: rgba(73, 80, 87, 0.3);
  --tt-placeholder: rgba(73, 80, 87, 0.5);
  --bg-input: #dce2e9;

  --tt-button: white;
  --bg-button: #02799d;
  --bg-button-hover: #01475c;

  --bg-error: rgba(240, 62, 62, 1);
  --tt-error: white;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #040924;
}

body,
input,
button {
  font-size: 1.6rem;
  line-height: 2rem;
}

.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  padding: 4.8rem 6.4rem 6.4rem;
  background: white;
  max-width: 42.8rem;
  margin-inline: auto;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}

.title {
  font-size: 3.2rem;
  line-height: 4rem;

  color: var(--tt-heading);
}

form {
  width: 30rem;
}

form h1 {
  margin-bottom: 3.2rem;
}

form label {
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 0.8rem;

  color: var(--tt-label);
}

form input {
  width: 100%;
  border: 1px solid var(--bd-input);
  background: var(--bg-input);
  padding: 1.6rem;

  border-radius: 0.4rem;
}

form input:focus {
  outline: 2px solid var(--ot-input);
}

form input::placeholder {
  color: var(--tt-placeholder);
}

.input-wrapper + .input-wrapper {
  margin-top: 1.6rem;
}

button {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: var(--tt-button);

  background: var(--bg-button);

  margin-top: 3.2rem;
  padding: 1.6rem;
  width: 100%;

  border: none;
  border-radius: 4px;

  cursor: pointer;

  transition: background 0.15s;
}

button:hover {
  background-color: var(--bg-button-hover);
}
